extends layout

block content
   h2.page-header Node全栈博客系统
   each post in posts
       div.post
             h3.post-title
                 a(href="/posts/view/" + post.slug, target="_blank")
                   =post.title
             div.post-abstract
                 =truncate(post.content,160)
             div.post-meta
                  span.post-created
                    | 发布时间:&nbsp;
                    =moment(post.created).format('YYYY-MM-DD HH:mm:ss')
                  span.post-author
                    | 作者：&nbsp;
                    =post.author.name
                  span.post-category
                    | 分类：&nbsp;
                    a(href="/posts/category/" + post.category.name,target="_blank")
                      =post.category.name
                  span.post-comments
                    | 评论：&nbsp;
                    =post.comments.length || 0
                  span.post-meta
                    | 被赞：&nbsp;
                    =post.meta.favorites || 0
                  span.post-link
                      a(href="/posts/view/"+post._id,target="_blank") 查看全文
   if pageCount >1
      nav
        ul.pagination
          - var currentPage=1
          if(pageNum>1)
            li
              - var cc = pageNum
              a(href="/posts?page=" + --cc,aria-label="Previous")
                 span(aria-hidden="true") &laquo;
          else
            li
              a(href="/posts?page=1" aria-label="Previous")
                span(aria-hidden="true") &laquo;
           while currentPage<=pageCount
              if(currentPage===pageNum)
                  li.active
                      a(href="/posts?page=" + currentPage)= currentPage++
              else
                  li
                    a(href="/posts?page=" + currentPage)= currentPage++

          if(pageNum < pageCount-2)
            li
              - var cc2 = pageNum
              a(href="/posts?page=" + ++cc2,aria-label="Next")
                span(aria-hidden="true") &raquo;
          else
            li

              a(href="/posts?page=" + pageNum,aria-label="Next")
                span(aria-hidden="true") &raquo;


block scripts
   script $(document).ready(function () {console.log('dom ready');})


