extends ../layout
body
  .blog-masthead
    .container
      nav.blog-nav
        a.blog-nav-item.active(href="#") Home
        a.blog-nav-item(href="#") New features
        a.blog-nav-item(href="#") Press
        a.blog-nav-item(href="#") New hires
        a.blog-nav-item(href="#") About
